<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>智能撲滿</title>
    <!--<link rel="stylesheet" href="../css/invest.css"> -->
    <!--連結到index.css-->
    <link rel="icon" href="../asset/image/logo_money.png">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
    <script src="https://code.highcharts.com/modules/accessibility.js"></script>
</head>
<body>
    <div id="results" class="w3-container city">
        <div class="results">
          <h2>模型績效</h2>
          <figure class="highcharts-figure">
            <article id="results"></article>
          </figure>
        </div>
        <div class="results">
          <h2>模型績效</h2>
          <figure class="highcharts-figure">
            <article id="results"></article>
          </figure>
        </div>
      </div>
    <script>
    Highcharts.addEvent(Highcharts.Point, 'click', function () {
      if (this.series.options.className.indexOf('popup-on-click') !== -1) {
        const chart = this.series.chart;
        const date = Highcharts.dateFormat('%A, %b %e, %Y', this.x);
        const text = `<b>${date}</b><br/>${this.y} ${this.series.name}`;

        const anchorX = this.plotX + this.series.xAxis.pos;
        const anchorY = this.plotY + this.series.yAxis.pos;
        const align = anchorX < chart.chartWidth - 200 ? 'left' : 'right';
        const x = align === 'left' ? anchorX + 10 : anchorX - 10;
        const y = anchorY - 30;
        if (!chart.sticky) {
          chart.sticky = chart.renderer
            .label(text, x, y, 'callout', anchorX, anchorY)
            .attr({
              align,
              fill: 'rgba(0, 0, 0, 0.75)',
              padding: 10,
              zIndex: 7 // Above series, below tooltip
            })
            .css({
              color: 'white'
            })
            .on('click', function () {
              chart.sticky = chart.sticky.destroy();
            })
            .add();
        } else {
          chart.sticky
            .attr({ align, text })
            .animate({ anchorX, anchorY, x, y }, { duration: 250 });
        }
      }
    });


    Highcharts.chart('results', {

      chart: {
        scrollablePlotArea: {
          minWidth: 700
        }
      },

      /*data: {
          csvURL: 'https://cdn.jsdelivr.net/gh/highcharts/highcharts@v7.0.0/samples/data/analytics.csv',
          beforeParse: function (csv) {
              return csv.replace(/\n\n/g, '\n');
          }
      },*/

      title: {
        text: '模型績效'
      },

      /*subtitle: {
          text: 'Source: Google Analytics'
      },*/

      xAxis: {
        tickInterval: 7 * 24 * 3600 * 1000, // one week
        tickWidth: 0,
        gridLineWidth: 1,
        labels: {
          align: 'left',
          x: 3,
          y: -3
        }
      },

      yAxis: [{ // left y axis
        title: {
          text: null
        },
        labels: {
          align: 'left',
          x: 3,
          y: 16,
          format: '{value:.,0f}'
        },
        showFirstLabel: false
      }, { // right y axis
        linkedTo: 0,
        gridLineWidth: 0,
        opposite: true,
        title: {
          text: null
        },
        labels: {
          align: 'right',
          x: -3,
          y: 16,
          format: '{value:.,0f}'
        },
        showFirstLabel: false
      }],

      legend: {
        align: 'left',
        verticalAlign: 'top',
        borderWidth: 0
      },

      tooltip: {
        shared: true,
        crosshairs: true
      },

      plotOptions: {
        series: {
          cursor: 'pointer',
          className: 'popup-on-click',
          marker: {
            lineWidth: 1
          }
        }
      },

      /*series: [{
          name: 'All sessions',
          lineWidth: 4,
          marker: {
              radius: 4
          }
      }, {
          name: 'New users'
      }]*/
      series: [{
        name: 'model1',
        data: [16.0, 18.2, 23.1, 27.9, 32.2, 36.4, 39.8, 38.4, 35.5, 29.2,
          22.0, 17.8]
      }, {
        name: 'model2',
        data: [-2.9, -3.6, -0.6, 4.8, 10.2, 14.5, 17.6, 16.5, 12.0, 6.5,
          2.0, -0.9]
      }]
    });

  </script>
</body>
</html>



