<!DOCTYPE html>
{% load static %}
<html lang="zh-Hant-TW">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>決策支援系統</title>
        <link rel="stylesheet" type="text/css" href="{% static 'portfolio/invest.css'%} ">  <!--連結到index.css-->
        <link rel="icon" href="../asset/image/logo_money.png">
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
    <body>
        <nav class="container-navbar">
            <ul class="container-nav">
                <li class="container-nav-logo">
                    <a href=".."><img src="{% static 'portfolio/image/logo_pig-removebg-preview.png' %}" alt="" width="75px" style="left: 50px; top: 5px; position: absolute;"></a>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text" id="container-nav-btn-text-active">
                        <a href="../invest">立即試算</a>
                    </div>
                </li>
                <!--
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="../aboutUs">關於我們</a>
                    </div>
                </li>
                <li class="container-nav-btn">
                    <div class="container-nav-btn-text">
                        <a href="../knowledge">知識＋</a>
                    </div>
                   
                </li>
                <li class="container-nav-btn" id="container-nav-btn-expect">
                    <div class="container-nav-btn-text">
                        <a href="../member/1">會員專區</a>
                    </div>
                </li>-->
            </ul>
        </nav>

        
    </body>
</html>